.navbar {
  width: 220px;
  border-right: 2px solid var(--m-gray);
  border-top: none;
  border-left: none;
  border-bottom: none;
  padding: 12px;
  display: flex;
  flex-direction: column;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
    color: var(--m-green);
    font-size: 18px;
    font-family: "zpix";
    font-weight: bolder;
    svg {
      font-size: 40px;
    }
  }
  .title {
    text-align: center;
    padding-block: 12px;
    border-width: 1px;
    border-style: dashed;
    border-color: var(--m-green);
  }
  ul {
    margin: 1.2rem;
    li {
      padding: 6px;
    }
  }
  svg {
    padding-right: 6px;
  }

  .logout_btn {
    width: 100%;
    font-size: 14px;
    padding: 8px 6px;
    color: var(--white);
    background: var(--m-green);
    margin-top: auto;
  }
}
