.col_user_aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  height: auto;
  background: linear-gradient(135deg, transparent 0, var(--main-purple) 0) top
      left,
    linear-gradient(-135deg, transparent 4px, var(--main-purple) 0) top right,
    linear-gradient(-45deg, transparent 4px, var(--main-purple) 0) bottom right,
    linear-gradient(45deg, transparent 0, var(--main-purple) 0) bottom left;
  background-size: 75% 75%;
  background-repeat: no-repeat;
  filter: drop-shadow(5px 5px 0 var(--main-colorpurple));

  .user_aside_title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1.5rem 0.5rem;
    overflow: hidden;
    .user_name_and_icon {
      display: flex;
      gap: 8px;
      padding: 10px;
    }
    .user_welcome_word {
      text-align: center;
    }
  }
  .user_aside_content {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    background-color: var(--main-darkpurple);
    padding-block: 1rem;
    transition: all 0.4s;
    .collapse_btn {
      cursor: pointer;
      margin-inline: auto;
      display: flex;
      justify-content: space-between;
      font-weight: bolder;
      color: white;
      width: 85%;
      padding: 0.5rem 1.5rem;
      filter: drop-shadow(3px 3px 0 var(--main-brightpink));
      transition: all 0.4s;
      margin-bottom: 1.2rem;
      background-color: var(--main-colorpurple);
      box-shadow: 3px 0 0 var(--main-colorpurple),
        -3px 0 0 var(--main-colorpurple), 0 -3px 0 var(--main-colorpurple),
        0 3px 0 var(--main-colorpurple);
      svg {
        font-size: 16px;
        animation: moveUpDown 1s ease infinite;
      }
      &.active {
        color: black;
        background-color: var(--main-yellow);
        box-shadow: 0 0 0 2px var(--main-yellow), 0 4px 0 #ffa81d,
          4px 0 0 #ffa81d, 0 -4px 0 var(--main-yellow),
          -4px 0 0 var(--main-yellow), 4px 2px 0 var(--black),
          4px -2px 0 var(--black), -4px 2px 0 var(--black),
          -4px -2px 0 var(--black), 2px 4px 0 var(--black),
          2px -4px 0 var(--black), -2px 4px 0 var(--black),
          -2px -4px 0 var(--black), 6px 0 0 var(--black), -6px 0 0 var(--black),
          0 6px 0 var(--black), 0 -6px 0 var(--black);
      }
    }
    .collapse_btn_child {
      margin-inline: 1rem;
      font-weight: bold;
      background-color: transparent;
      transition: all 0.4s;
      ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0.5rem 0 1rem;
        li:hover {
          background-color: var(--main-darkpink);
          border-radius: 5px;
        }
      }
      a {
        display: flex;
        width: 100%;
        color: var(--white);
        padding: 0.5rem 1.5rem;
      }
    }
    .collapse_btn_child_close {
      height: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s;
    }
  }
  .user_aside_footer {
    background-color: var(--main-purple);
    padding: 1.5rem 1rem;
    width: calc(100% - 3rem);
    margin-top: auto;
    button {
      width: 100%;
      padding-block: 0.4rem;
      cursor: pointer;
      font-weight: bolder;
      transition: all 0.5s;
      &:hover {
        transform: translateY(-2px);
        background-color: var(--main-orange);
        box-shadow: 0 -3px 0 var(--main-orange), -3px 0 0 var(--main-orange),
          0 3px 0 #ce5900, 3px 0 0 #ce5900, 5px 0 0 var(--black),
          -5px 0 0 var(--black), 0 5px 0 var(--black), 0 -5px 0 var(--black),
          0 0 0 3px var(--black);
      }
      &:active {
        transform: translateY(4px);
      }
    }
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-2px);
  }
}