.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-darkpurple);
}
.footer_top {
  width: 100%;
  .footer_top_list {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-inline: 36px;
    span {
      display: flex;
      font-weight: bold;
      color: white;
    }
    ul {
      margin-top: 1rem;
      li {
        margin-block: 0.75rem;
        font-size: 14px;
        opacity: 0.7;
        &:hover {
          background-color: var(--main-colorpurple);
          border-radius: 5px;
        }
        a {
          padding-block: 0.25rem;
          display: flex;
          width: 100%;
          color: var(--white);
        }
      }
    }
    > div {
      width: 500px;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 300px;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .footerDonate {
    color: rgba(255, 255, 255, 0.297);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    width: 300px;
    padding-block: 20px;
  }
}
.footer_copyright {
  width: 100%;
  div {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    svg {
      padding-inline: 5px;
    }
  }
}
// 免責聲明
.statement {
  color: white;
  background-color: #51289363;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-block: 1.5rem;
  li {
    margin-block: 0.5rem;
  }
}