.l_login {
  margin: 5rem auto;
  width: 50%;
  min-width: 700px;
  .r_login {
    width: 100%;
    > div {
      display: flex;
    }
    .r_login_title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      height: 60px;
      margin-inline: auto;
      font-size: 30px;
    }
    .r_login_information {
      width: 100%;
    }
  }
  .r_quick_login {
    width: 100%;
  }
}
