body {
  min-height: 100%;
}

main {
  min-height: calc(100vh - 115px);
  /* overflow: hidden; */
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-black {
  background-color: var(--black) !important;
}

.c-bg-purple {
  background-color: var(--main-colorpurple) !important;
}

.d-bg-pink {
  background-color: var(--main-darkpink) !important;
}

.br-bg-pink {
  background-color: var(--main-brightpink) !important;
}

.br-bg-purple {
  background-color: var(--main-brightpurple) !important;
}

.d-bg-purple {
  background-color: var(--main-darkpurple) !important;
}

.m-bg-purple {
  background-color: var(--main-purple) !important;
}

.m-bg-yellow {
  background-color: var(--main-yellow) !important;
}

.m-bg-orange {
  background-color: var(--main-orange) !important;
}

.text-yellow {
  color: var(--main-yellow) !important;
}

.text-orange {
  color: var(--main-orange) !important;
}

.text-m-purple {
  color: var(--main-purple) !important;
}

.text-d-purple {
  color: var(--main-darkpurple) !important;
}

.text-br-purple {
  color: var(--main-brightpurple) !important;
}

.text-black {
  color: var(--black) !important;
}

.line-orange {
  border-color: var(--main-orange) !important;
}

.line-br-pink {
  border-color: var(--main-brightpink) !important;
}

.line-br-d-purple {
  border-color: var(--main-darkpurple) !important;
}

/*------------------- 特殊字體尺寸或樣式 ---------------------*/
.pixel-font {
  font-family: 'VT323-Regular';
}

.pixel-font2 {
  font-family: 'Cubic_11_1.010_R';
}

.pixel-font-chinese {
  font-family: 'zpix';
}

.font-s {
  font-size: 0.8rem;
}

.font-sm {
  font-size: 0.9rem;
}

.font-m {
  font-size: 1.2rem;
}

.font-l {
  font-size: 1.6rem;
}

.font-xl {
  font-size: 2rem;
}

/*------------------- 取消預設行為 ---------------------*/
button,
input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
img {
  border: 0;
  margin: 0;
  padding: 0;
}

.body-bg {
  /* background-image: url('/img/newbg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  position: relative;
  width: 100vw;
  height: 100vh;
}

#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -999;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0 !important;
}

figure {
  margin: 0 !important;
}

.header-height-S {
  height: 120px;
}

.header-height {
  height: 150px;
}

.header-height-L {
  height: 220px;
}

/* ------------- 拉把樣式 -------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-darkpurple);
  /* border: 2px solid var(--main-purple); */
  /* border-radius: 20px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-brightpurple);
  border: 2px solid var(--main-darkpurple);
  box-shadow: inset -2px -2px 0 rgba(0, 0, 0, 0.322);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-purple);
}

/*------------------- 陰影樣式 ---------------------*/
.in-shadow {
  box-shadow: inset -5px -5px 0 rgba(0, 0, 0, 0.236);
}

/*-------- 黃色彈出視窗(覆蓋bs的modal-content) --------*/
.yellow-alert {
  width: 100%;
  border: none;
  border-radius: 0;
}

.yellow-alert .modal-header {
  background-color: var(--main-yellow);
  border: none;
  border-radius: 0;
  padding: 0.5rem 1rem;
}

.yellow-alert .modal-body {
  background-color: var(--main-yellow);
  border-radius: 0;
  padding: 1rem;
  line-height: 35px;
  letter-spacing: 1px;
  white-space: pre-wrap;
}

/* 取消設定  accordion部分樣式 --- order.js 使用 */
/* .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.accordion-button {
  width: 0 !important;
}
.accordion {
  --bs-accordion-active-bg: white !important;
  --bs-accordion-btn-focus-box-shadow: white !important;
} */

/* sweetalert 樣式變更 */
.alert-btn {
  background-color: var(--main-purple);
  padding-inline: 20px;
  white-space: nowrap;
  padding-block: 5px;
  font-weight: bold;
  text-align: center;
  color: white;
  transition: 0.3s;
  outline: none;
}

.alert-btn:hover {
  scale: 0.95;
}

.alert-title {
  color: var(--black);
  font-size: 26px;
}

/* sweetalert 樣式變更-取消按鈕 */
.alert-btn-cancle {
  background-color: #a0a0a0;
  padding-inline: 20px;
  white-space: nowrap;
  padding-block: 5px;
  font-weight: bold;
  text-align: center;
  color: white;
  transition: 0.3s;
  outline: none;
}

.alert-btn-cancle:hover {
  scale: 0.95;
}

/*-------- rwd版面 --------*/
@media screen and (max-width: 576px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

  



  /* 將原來不能改的字隱藏 */
  .react-chatbot-kit-chat-header {
  visibility: hidden;
  }
  
  /*加上我原本想要加的字*/
  .react-chatbot-kit-chat-header::after {
  content: '書營客服系統';
  visibility: visible;
  position: absolute;
  left: 96px;
  }
  .react-chatbot-kit-chat-bot-avatar-container {
  font-size: 0;
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-image: url(../public/img/logo.jpg) !important;
  }
  /*使用者的文字訊息長度 */
  .react-chatbot-kit-user-chat-message {
  max-width: 100px; /*最大的長度*/
  word-wrap: break-word; /*換行*/
  }
  /*客服的文字訊息長度 */
  .react-chatbot-kit-chat-bot-message {
  word-wrap: break-word; /*換行*/
  margin-left:0 !important;
  color: black !important ;
  }
  /*使用者沒有頭像*/
  .react-chatbot-kit-user-avatar-container {
  display: none !important;
  }
  
  /* ------------------------------------------------ */
  /* 機器人訊息框 */
  /* .react-chatbot-kit-chat-bot-message { */
  /* background-color: rgb(221, 214, 214) !important; */
  /* color: black !important ;
  } */
  /*輸入框的顏色*/
  .react-chatbot-kit-chat-input {
  background-color: #383838;
  border: 0;
  }
  /* ------------------------------------------------ */
  
  /*讓input placeholder消失 */
  .react-chatbot-kit-chat-input::placeholder {
  color: transparent !important;
  }
  
  /*客服樣式*/
  .customerservice {
  background-image: url('/img/BOOKCAMP.svg');
  /* 為此類別設置背景圖像 */
  background-repeat: no-repeat;
  /* 設置背景圖像不重複 */
  background-size: cover;
  /* 使背景圖像完全覆蓋元素的區域 */
  width: 100px;
  /* 設置按鈕的寬度 */
  height: 100px;
  /* 設置按鈕的高度 */
  border: none;
  /* 移除按鈕的邊框 */
  color: transparent;
  /* 將按鈕文字設為透明，使之不可見 */
  cursor: pointer;
  /* 當滑鼠移到按鈕上時，將滑鼠指標變為手指形狀 */
  background-color: transparent;
  /* 不要背景 */
  }
  /* ------------------------------------------------ */
  
  /* 聊天室窗的背景 */
  .react-chatbot-kit-chat-message-container {
  background-color: #0e0e32;
  overflow-x: hidden;
  /* 讓左右卷軸消失 */
  }
  
  .react-chatbot-kit-chat-bot-message-arrow {
  border-right-color: rgb(221, 214, 214) !important;
  }
  /* 紙飛機 */
  .react-chatbot-kit-chat-btn-send {
  background-color: #ea5e55 !important;
  }
  
  
  
  
  /* 使用者訊息框 */
  .react-chatbot-kit-user-chat-message {
  background-color: white;
  }
  .react-chatbot-kit-user-chat-message-arrow {
  border-left-color: white;
  }


  .react-chatbot-kit-chat-inner-container {
    max-height: 550px;
    overflow-y: auto; /* 允許上下滾動 */
}

.react-chatbot-kit-chat-container {
  width: 333px !important;
}

