:root {
  --m-bg-dark: #1b1c30;
  --m-yellow: #ccb201;
  --m-green: #047857;
  --m-green-30: #39dac41e;
  --m-light-green: #51bd8b;
  --m-blue: #acb9ca;
}

.manage {
  display: flex;
  height: 100%;
  overflow: hidden;
  background-color: var(--m-bg-dark);
  color: white;
}

.manage-w {
  background-color: white;
}
