:root {
  --m-green: #047857;
  --m-light-green: #d1fae5;
  --m-gray: #e7eaee;
  --m-brown: #957400;
  --m-light-brown: #fff7d9;
  -m-red: #b91c1c;
  --m-light-red: #fee2e2;
}

.manage {
  display: flex;
}
